
/*Nav*/

#WWlogo {
float: left;
flex: auto;
}

nav {
  background-color: #eeecd9;
  min-height: 120px;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1%;
  padding-top: 3%;
  text-align: right;
}

nav ul li {
  display: inline;
  margin-right: 50px;
  padding: 0;
}

nav ul li a {
  color: rgb(28, 32, 1);
  text-decoration: none;
  font-family: "Rubik Mono One";
  font-size: 40px;
}

nav ul li a:hover {
  text-decoration: solid;
  color: #d2cb98;
}

/*Hero*/
.header-container {
background-color: #f5f4ed;
margin: 0;
padding: 10px
}

h1 {
  padding: 0;
  margin: 0;
    text-align: center;
    font-family:"Gloria Hallelujah";
    font-size: 90px;
}

h3 {
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    font-size: x-large;
    padding-bottom: 10px;
}

/*About*/
.about {
  padding: 8px;
  margin: 0;
  font-family: "Gloria Hallelujah";
  font-size: large;
  background-color: #eeecd9;
  border-radius: 10px;
}

h6 {
  font-family: "Rubik Mono One", monospace;
  font-size: xxx-large;
  text-align: center;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: xx-large;
  text-align: center;
  padding: 0;
  margin: 0;
}

.ourproducts {
  margin-top: 0;
  padding-top: 0;
  background-color:  #eeecd9;
  border-radius: 20px;
}

/*Cards*/
.card {
 border: 5px solid #000000;
 border-radius: 30px;
 overflow: hidden;
 max-width: 100%;
 margin: 20px;
 max-height: auto;
}

.card img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  margin-top: 0;
  text-align: center;
  font-size: x-large;
  font-family: "Rubik Mono One", monospace;
}

.card-content p {
  margin-bottom: 0;
  font-family: "Rubik Mono One", monospace;
  font-size: medium;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex: 100%;
  max-width: 100%;
  height: auto;
}

/*More Q's*/
h5 {
  font-size: x-large;
  font-family: "Rubik Mono One", monospace;
  padding: 0;
  margin:15px;
}

/*Accordion*/
.button {
    background-color: #f5f5f2;
    font-family: "Rubik Mono One", monospace;
    height: 80px;
    border-radius: 20px;
    border-color: #cecec8;
    cursor: pointer;
    width: 100%;
    padding-left: 15px;
    text-align: left;
    font-size: medium;
  }

 .button:hover {
    background-color: #c9c9c8;
  }

  .panel {
    display: none;
    padding: 10px;
    font-size: large;
    font-family: "Gloria Hallelujah";
  }

  .panel.active {
    display: block;
  }

  /*Dog API*/
  .dog-container {
    border: 5px solid #000000;
    border-radius: 30px;
    overflow: hidden;
    max-width: 100%;
    margin: 20px;
    max-height: auto;
  }

  .dog-card {
    border: 6px solid #000000;
    border-radius: 30px;
    overflow: hidden;
    max-width: 50%;
    margin: 20px;
    max-height: auto;
    background-color: #fbf9ed;
    display: none;
  }

  #getDogBreedBtn {
   background-color: #ececb9;
    font-family: "Gloria Hallelujah";
    height: 40px;
    border-radius: 20px;
    border-color: #151515;
    cursor: pointer;
    width: 18%;
    text-align: center;
    font-size: large;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  #breedImage {
    max-width: 100%;
    border-radius: 5px;
    display: none; 
    padding: 0;
  }

  .breed-name {
    font-size: large;
    font-family: "Gloria Hallelijah";
    padding: 10;
    margin: 10;
    text-align: center;
  }
  
  .breed-description {
    margin: 10px;
    font-family: "Rubik Mono One", Monospace;
    font-size: medium;
    padding: 10;
    text-align: center;
  }
  
  /*Footer*/ 
  .footer-container {
    background-color: #f5f5f3;
    display: flex;
    font-family: "Rubik Mono One", monospace;
    font-optical-sizing: auto;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-family: "Gloria Hallelujah";
    font-size: 60px;
  }

  h2:hover {
   text-decoration: solid;
   color: #d2cb98;
  }
 
  .footer-content {
  padding-left: 25px;
  font-size: medium;
  }

.iframe {
  position: relative;
  width: 100%;
  padding-bottom: 20%;
  height: 0;
  overflow: hidden;
}

  /* Media Querys*/

  /*Mobile*/
  @media screen and (max-width: 768px) {
   .card-container {
    flex-wrap: wrap;
   }
   .card {
    flex: 0 0 calc(50% - 20px);
   }
  }  
    
    /*tablet*/
    @media screen and (min-width: 768px) and (max-width: 1440px) {
    }
    
    /*Desktop*/
    @media screen and (min-width: 1440px) {
      
    }
  