
/*Nav*/
nav {
  background-color: #eeecd9;
  padding: 20px;
  border-bottom: #000000;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav ul li {
  display: inline;
  margin-right: 50px;
  padding: 0;
}

nav ul li a {
  color: rgb(28, 32, 1);
  text-decoration: none;
  font-family: "Rubik Mono One";
  font-size: 30px;
}

nav ul li a:hover {
  text-decoration: solid;
  color: #d2cb98;
}

/*Hero*/
.header-container {
background-color: #f5f4ed;
margin: 0;
padding: 10px
}

h1 {
  padding: 0;
  margin: 0;
    text-align: center;
    font-family:"Gloria Hallelujah";
    font-size: 90px;
}

h3 {
    text-align: center;
    font-family: "Rubik Mono One", monospace;
    font-size: x-large;
    padding-bottom: 10px;
}

/*About*/
.about {
  padding: 10px;
  margin: 0;
  font-family: "Gloria Hallelujah";
  font-size: large;
  background-color: #eeecd9;
  border-radius: 8px;
}

h4 {
  font-size: xx-large;
  text-align: center;
  padding: 0;
  margin: 0;
}

h5 {
  font-size: x-large;
  font-family: "Rubik Mono One", monospace;
  padding: 0;
  margin:5px;
}

/*Accordion*/
.button {
    background-color: #f5f5f2;
    font-family: "Rubik Mono One", monospace;
    height: 80px;
    border-radius: 20px;
    border-color: #cecec8;
    cursor: pointer;
    width: 100%;
    padding-left: 15px;
    text-align: left;
    font-size: medium;
  }

 .button:hover {
    background-color: #c9c9c8;
  }

  .panel {
    display: none;
    padding: 10px;
    font-size: large;
    font-family: "Gloria Hallelujah";
  }

  .panel.active {
    display: block;
  }
  
  /*Footer*/ 
  .footer-container {
    background-color: #f5f5f3;
    display: flex;
    font-family: "Rubik Mono One", monospace;
    font-optical-sizing: auto;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-family: "Gloria Hallelujah";
    font-size: 60px;
  }
  
  .footer-content {
  padding-left: 25px;
  font-size: medium;
  }

.iframe {
  position: relative;
  width: 100%;
  padding-bottom: 20%;
  height: 0;
  overflow: hidden;
}

  /* Media Querys*/
  /*Mobile*/
  @media screen and (max-width: 500px) {
    body {
      width: 100%;
     }
    }  
    
    /*tablet*/
    @media screen and (min-width: 500px) and (max-width: 1500px) {
    body {
        width: 100%;
    }
    }
    
    /*Desktop*/
    @media screen and (min-width: 1500px) {
        body {
          width: 100%;
        }
    }
  